# Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_video

In [1]:
# import debugger
import re

# selenium
import selenium
import pandas as pd
from selenium import webdriver

# Beautiful soup
from bs4 import BeautifulSoup
import requests

#import warning
import warnings
warnings.filterwarnings('ignore')

# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
# first, connect to the webdriver
driver=webdriver.Chrome(r"chromedriver")

# getting the webpage of mentioned url
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [3]:
# scraping Rank of the videos
Rank=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [4]:
# Scraping Name of the videos
Name=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

In [5]:
# Scraping Artist of the videos
Artist=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [6]:
# Scraping Upload_Date of the videos
Date=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [7]:
# Scraping Views of the videos
Views=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [8]:
print(len(Rank),len(Name),len(Artist),len(Date),len(Views))

30 30 30 30 30

In [9]:
       # creating DataFrame for scraped data
Wiki = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_Date':Date,'Views(in_billion)':Views})
Wiki

,Rank,Name,Artist,Upload_Date,Views(in_billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.30
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.97
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.45
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.63
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.60
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.87
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.54
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.34
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.06
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.65
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.64
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.50
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.36
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.25
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.24
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.15

In [10]:
driver.close()

# Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [11]:
# connecting to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of bcci.tv url
url=('https://www.bcci.tv/')
driver.get(url)

In [13]:
btn=driver.find_element(By.XPATH,"//*[@id='navigation']/ul[1]/li[2]/a")
driver.get(btn.get_attribute("href"))
time.sleep(3)

In [21]:
match = driver.find_elements(By.XPATH,"//strong[@class='fixture__name fixture__name--with-margin']")
#to remove extra data other than output we required
Match_title = []
for i in match:
    Match_title.append(i.text)

In [24]:
# extract the tag having Series
series = driver.find_elements(By.XPATH,"//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
#to remove extra data other than output we required
Series = []
for i in series:
    Series.append(i.text)

In [25]:
#extract the tag having Place
place = driver.find_elements(By.XPATH,"//p[@class='fixture__additional-info']//span")
#to remove extra data other than output we required
Place = []
for i in place:
    Place.append(i.text)

In [26]:
#extract the tag having Date
date =driver.find_elements(By.XPATH,"//div[@class='fixture__full-date']")
#to remove extra data other than output we required
Date = []
for i in date:
    Date.append(i.text.replace('\n', ' ').replace(' 14:00 IST', ' 2022').replace(' 15:30 IST', ' 2022').replace(' 17:30 IST', ' 2022'))

In [27]:
#extract the tag having Time
time = driver.find_elements(By.XPATH,"//span[@class='fixture__time']")
#to remove extra data other than output we required
Time = []
for i in time:
    Time.append(i.text)

In [29]:
fictures = pd.DataFrame({})
fictures['Match Title']= Match_title
fictures['Series'] = Series
fictures['Place'] = Place
fictures['Date'] = Date
fictures['Time'] = Time 
fictures

Empty DataFrame
Columns: [Match Title, Series, Place, Date, Time]
Index: []

# Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

In [51]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://www.guru99.com/")
driver.get(url)

In [54]:
# clicking on Exception Handling button
driver.find_element(By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [63]:
# scraping Name
Name=[]
for i in driver.find_elements(By.XPATH,"//*[@id='post-1953']/div/div/p[1]/strong"):
    Name.append(i.text)

In [65]:
# scraping Description
Description=[]
for i in driver.find_elements(By.XPATH,"//*[@id='post-1953']/div/div/p[1]/text()"):
    Description.append(i.text)

InvalidSelectorException: Message: invalid selector: The result of the xpath expression "//*[@id='post-1953']/div/div/p[1]/text()" is: [object Text]. It should be an element.
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x002A78B3+2193587]
	Ordinal0 [0x00240681+1771137]
	Ordinal0 [0x001541A8+803240]
	Ordinal0 [0x00156BB4+814004]
	Ordinal0 [0x00156A72+813682]
	Ordinal0 [0x00156D00+814336]
	Ordinal0 [0x001821B5+991669]
	Ordinal0 [0x0018273B+993083]
	Ordinal0 [0x001AF7C2+1177538]
	Ordinal0 [0x0019D7F4+1103860]
	Ordinal0 [0x001ADAE2+1170146]
	Ordinal0 [0x0019D5C6+1103302]
	Ordinal0 [0x001777E0+948192]
	Ordinal0 [0x001786E6+952038]
	GetHandleVerifier [0x00550CB2+2738370]
	GetHandleVerifier [0x005421B8+2678216]
	GetHandleVerifier [0x003317AA+512954]
	GetHandleVerifier [0x00330856+509030]
	Ordinal0 [0x0024743B+1799227]
	Ordinal0 [0x0024BB68+1817448]
	Ordinal0 [0x0024BC55+1817685]
	Ordinal0 [0x00255230+1856048]
	BaseThreadInitThunk [0x778CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77E37A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77E37A6E+238]
	(No symbol) [0x00000000]

In [66]:
# creating the dataframe from the scraped data
Selenium = pd.DataFrame({'Exception_Name':Name,'Description':Description})
Selenium

ValueError: All arrays must be of the same length

In [67]:
driver.close()

# Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [44]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://statisticstimes.com/")
driver.get(url)

In [45]:
# clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [51]:
# clicking on India
driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div").click()

In [54]:
# scraping Rank
Rank=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [55]:
# scraping State
State=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [56]:
# scraping GSDP at current price (19-20)
GSDP1=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [57]:
# scraping GSDP at current price (18-19)
GSDP2=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [58]:
# scraping Share (18-19)
Share=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [59]:
# scraping GDP $ billion
GDP_billion=[]
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [60]:
# creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

# Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [62]:
# connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://github.com/")
driver.get(url)

In [63]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [64]:
# selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
urls = trend_url.get_attribute('href')
driver.get(urls)

In [65]:
# fetching urls for each repository
URL=[]
repository = driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a")[0:10]
for i in repository:
    URL.append(i.get_attribute("href"))

In [66]:
# scraping Repository title data
repository_title=[]
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [69]:
# scraping data from all repository page
for i in URL:
    driver.get(i)

In [70]:
# scraping Repository Description data 
Description=[]
try:
    desc = driver.find_element(By.XPATH,"//p[@class='f4 mt-3']")
    Description.append(desc.text)
except NoSuchElementException:
    Description.append('-')

In [71]:
# scraping Contributors Count data
Contributors=[]
try:
    contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
    Contributors.append(contributor.text.replace('Contributors',''))
except NoSuchElementException:
    Contributors.append('-')

In [72]:
# scraping Languages used data
lang=[]
Language=[]
try:
    for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"):
        lang.append(i.text)
    Language.append(lang)
except NoSuchElementException:
    Language.append('-')

In [73]:
# Data Framing
Github = pd.DataFrame({})
Github['Repository Title'] = repository_title
Github['Repository Description'] = Description
Github['Contributors Count'] = Contributors
Github['Language Used'] = Language
Github

ValueError: Length of values (1) does not match length of index (25)

In [74]:
driver.close()

# Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

In [78]:
#connect to the web driver
driver = webdriver.Chrome("chromedriver.exe")

#Get url in web driver first
url = 'https://www.billboard.com/'
driver.get(url)
#the url will open

In [80]:
#serch button click
top100_button = driver.find_element(By.XPATH,"//*[@id='main-wrapper']/header/div[2]/div/nav/ul/li[1]/a")
top100_button.click()

In [95]:
#extract the tag having song name
name_song=[]
name =driver.find_element(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
#to remove extra data other than output we required
name_song.append(name.text)

In [92]:
#extract the tag having artist name
artist_name=[]
artist = driver.find_element(By.XPATH,"//*[@id='post-1479786']/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span")
#to remove extra data other than output we required
artist_name.append(artist.text)

In [83]:
#extract the tag having last week rank
last_week=[]
last = driver.find_element(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span")
#to remove extra data other than output we required
last_week.append(last.text)

In [84]:
#extract the tag having last peak rank
peak_rank=[]
peak=driver.find_element(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span")
peak_rank.append(peak.text)

In [85]:
#extract the tag having last week rank
weeks_board=[]
week= driver.find_element(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span")
weeks_board.append(week.text)

In [93]:
# Make data frame of hot 100 from https://www.billboard.com/
Hot_100 = pd.DataFrame({})
Hot_100['Song_name']= name_song
Hot_100['Artist_name'] = artist_name
Hot_100['Last_week_rank'] = last_week 
Hot_100['Peak_rank'] = peak_rank
Hot_100['Weeks_on_board'] = weeks_board
Hot_100

   Song_name   Artist_name Last_week_rank Peak_rank Weeks_on_board
0  As It Was  Harry Styles              1         1             23

In [96]:
driver.close()

# Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [97]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [98]:
#Openings the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [99]:
#enterning designation and location as requried in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Science')

In [100]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [101]:
job_title=[]
job_location=[]
company_name=[]
experience_requried=[]

In [102]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')    #Relative path
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [103]:
#scraping job location from the given page  
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    job_location.append(i.text)

In [104]:
#scraping company name from the given page       
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)

In [105]:
#scraping exp requried from the given page    
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    experience_requried.append(i.text)

In [106]:
print(len(job_title),len(job_location),len(company_name),len(experience_requried))

10 10 10 10

In [107]:
#creating the database from above data
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'exp_requried':experience_requried})
df

,job_title,job_location,company_name,exp_requried
0,Senior Analyst-Data Science,Bangalore/Bengaluru,Accenture,5-8 Yrs
1,Senior Analyst & AI Lead - Data Science,"New Delhi, Faridabad, Gurgaon/Gurugram, Delhi ...",Huquo Consulting Pvt. Ltd,2-7 Yrs
2,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,2-5 Yrs
3,Senior Analyst & AI Lead - Data Science,"Faridabad, Gurgaon/Gurugram, Delhi / NCR",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Senior Analyst-Data Science,Gurgaon/Gurugram,Accenture,5-8 Yrs
5,Senior Analyst-Data Science,Gurgaon/Gurugram,Accenture,5-8 Yrs
6,Trainee- Data Science,Pune,Survik Software Pvt Ltd,9-13 Yrs
7,Hiring For AVP |Data Science and Business Anal...,"Pune, Bangalore/Bengaluru",Citicorp Finance,5-10 Yrs
8,Machine Learning/Technical Analyst/Data Science,Bangalore/Bengaluru,Bartleby Technologies,7-10 Yrs
9,Sr Data Science Analyst,Chennai,TransUnion,2-5 Yrs

In [108]:
driver.close()

# Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [2]:
#connect to the web driver
driver = webdriver.Chrome("chromedriver.exe")

#Get url in web driver first
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)
#the url will open

In [6]:
#extract the tag having rank
rank =driver.find_elements(By.XPATH,"//td[@class='left']")
#to remove extra data other than output we required
Rank= []
for i in rank:
    Rank.append(i.text)
BOOK_NAME = []
for i in Book_Name[1: :5]:
    BOOK_NAME.append(i)

Auther_Name = []
for i in Rank[2: :5]:
    Auther_Name.append(i)

Volume_sold = []
for i in Rank[3: :5]:
    Volume_sold.append(i)

Publisher = []
for i in Rank[4: :5]:
    Publisher.append(i)

In [8]:
#extract the tag having rank
genre =driver.find_elements(By.XPATH,"//td[@class='last left']")
#to remove extra data other than output we required
Genre = []
for i in genre:
    Genre.append(i.text)

In [12]:
# Make data frame of hot 100 from https://www.billboard.com/
Novels = pd.DataFrame({})
Novels['BOOK_NAME']= BOOK_NAME
Novels['Auther_Name'] = Auther_Name
Novels['Volume_sold'] = Volume_sold 
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre 
Novels

,BOOK_NAME,Auther_Name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [14]:
driver.close()

# Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [30]:
#connect to the web driver
driver = webdriver.Chrome("chromedriver.exe")

#Get url in web driver first
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
#the url will open

In [31]:
#extract the tag having Name
name = driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")
#to remove extra data other than output we required
Name=[]
for i in name:
    Name.append(i.text)

In [33]:
#extract the tag having year span
year = driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
#to remove extra data other than output we required
Year=[]
for i in year:
    Year.append(i.text)

In [34]:
#extract the tag having Genre
genre = driver.find_elements(By.XPATH,"//span[@class='genre']")
#to remove extra data other than output we required
Genre=[]
for i in genre:
    Genre.append(i.text)

In [35]:
#extract the tag having run time
run = driver.find_elements(By.XPATH,"//span[@class='runtime']")
#to remove extra data other than output we required
Run_Time=[]
for i in run:
    Run_Time.append(i.text)

In [36]:
#extract the tag having ratings
ratings = driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
#to remove extra data other than output we required
Ratings=[]
for i in ratings:
    Ratings.append(i.text)

In [37]:
#extract the tag having voting
voting =driver.find_elements(By.XPATH,"//span[@name='nv']")
#to remove extra data other than output we required
Voting=[]
for i in voting:
    Voting.append(i.text)

In [38]:
# Make data frame of tv series 100 from imdb.com
TV_Series = pd.DataFrame({})
TV_Series['NAME']= Name
TV_Series['Year Span'] = Year
TV_Series['Genre'] = Genre 
TV_Series['Run Time'] = Run_Time
TV_Series['Ratings'] = Ratings 
TV_Series['Voting'] = Voting 
TV_Series

,NAME,Year Span,Genre,Run Time,Ratings,Voting
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,048,909"
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,144,963"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,153"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,795"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,375"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"49,552"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,557"
97,98. Criminal Minds (2005–2020),(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,764"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,021"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"236,388"

In [39]:
driver.close()

# Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [40]:
#connect to the web driver
driver = webdriver.Chrome("chromedriver.exe")

#Get url in web driver first
url = 'https://archive.ics.uci.edu/'
driver.get(url)
#the url will open

In [42]:
#serch button click
dataset_button =driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
dataset_button.click()

In [44]:
#extract the tag having dataset Name
name = driver.find_elements(By.XPATH,"//td[@valign='top']//a")
#to remove extra data other than output we required
Dataset_Name=[]
for i in name:
    Dataset_Name.append(i.text)

In [45]:
#extract the tag having dataset Name
datat = driver.find_elements(By.XPATH,"//td[@valign='top']//p")
#to remove extra data other than output we required
Data_type=[]
for i in datat:
    Data_type.append(i.text)

In [47]:
#extract the tag having dataset Name
task = driver.find_elements(By.XPATH,"//td[@valign='top']//p")
#to remove extra data other than output we required
Task=[]
for i in task:
    Task.append(i.text)

In [50]:
# Make data frame of Datasets from UCI machine learning repositories from Url = https://archive.ics.uci.edu/
ML_REPOSITORIES = pd.DataFrame({})
ML_REPOSITORIES['Dataset_name']= Dataset_Name
ML_REPOSITORIES['Data_Type'] = Data_type
ML_REPOSITORIES['Task'] = TASK 
ML_REPOSITORIES

ValueError: Length of values (4378) does not match length of index (1287)