In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [2]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#let first connect to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
#opening the naukri.com page in automated browser
driver.get("https://www.naukri.com/")

In [5]:
#entering designation 
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [6]:
#enterning location
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [8]:
#scraping job title from webpage
job_title=[]
job=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job[0:10]:
    job_title.append(i.text)
    
#scraping location title from webpage
loc_title=[]
loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    loc_title.append(i.text)
    
#scraping company name from webpage
com_title=[]
com=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com[0:10]:
    com_title.append(i.text)
    
#scraping experience from webpage  
exp_requried=[]
exp=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    exp_requried.append(i.text)

In [9]:
print(len('job_tite'),len('loc_title'),len('com_title'),len('exp_requried'))

8 9 9 12

In [10]:
df=pd.DataFrame({'Job_Title':job_title,'Location':loc_title,'Compant_Name':com_title,'Experience':exp_requried})
df

,Job_Title,Location,Compant_Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
2,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
4,"Data Analyst, plsql, Tableau, Informatica","Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Capgemini,3-8 Yrs
5,Senior Data Analyst - SQL/Tableau,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Global Employees,7-12 Yrs
6,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
7,Data Analyst - Data Visualization & Reporting,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Global Employees,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
9,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [11]:
import selenium 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [12]:
#let first  connect to webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [13]:
#search naukri.com website with automated by webdriver
driver.get("https://www.naukri.com/")

In [14]:
#enterning designation data_scientist
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [15]:
#enterning location 
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [16]:
#click search
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [17]:
#scraping job_title from page
job_title=[]
job=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job[0:10]:
    job_title.append(i.text)
    
    
#scraping location from page
location=[]
loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    location.append(i.text)
    
#scraping coampany name from page
company=[]
com=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com[0:10]:
    company.append(i.text)

In [18]:
print(len(job_title),len(location),len(company))

10 10 10

In [19]:
df=pd.DataFrame({'Title':job_title,'Location':location,'Company':company})
df

,Title,Location,Company
0,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies

#  In this question you have to scrape data using the filters available on the webpage

In [46]:
import pandas as pd
import selenium 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [47]:
#connect to driver
driver=webdriver.Chrome(r'chromedriver.exe')

In [48]:
#calling naukrui.com
driver.get('https://www.naukri.com/')

In [49]:
#call designation
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [50]:
#search
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [51]:
#location filter
location_filter=driver.find_elements(By.XPATH,'//div[@class="mt-8 chckBoxCont"]//span')

for i in location_filter:
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [52]:
#salary filter
salary_filter=driver.find_elements(By.XPATH,'//div[@class="mt-8 chckBoxCont"]//span')
for i in salary_filter:
    if (i.text=='3-6 Lakhs'):
        i.click()
        break

In [54]:
#After filter search job
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    

#job_location
loc_title=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[0:10]:
    loc_title.append(i.text)
    
    
#company_name
com_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    com_title.append(i.text)
    
#experience_requried
exp_req=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[0:10]:
    exp_req.append(i.text)

In [55]:
df=pd.DataFrame({'Job_Title':job_title,'Location':loc_title,'Comapny':com_title,'Experience':exp_req})
df

,Job_Title,Location,Comapny,Experience
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Data Scientist - Risk Platform,Bangalore/Bengaluru,Gojek,5-11 Yrs
3,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
5,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
6,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
8,Decision Scientist,Bangalore/Bengaluru,Gojek,4-9 Yrs
9,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs

# Scrape data of first 100 sunglasses listings on flipkart.com

In [1]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [111]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [112]:
driver.get('https://www.flipkart.com/')

#login in flipkart
login_no=driver.find_element(By.XPATH,'//input[@class="_2IX_2- VJZDxU"]')
login_no.send_keys('ashish07081996@gmail.com')

#passwaord
passw=driver.find_element(By.XPATH,'//input[@class="_2IX_2- _3mctLh VJZDxU"]')
passw.send_keys('Ashish123@')

#login
login=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2HKlqd _3NgS1a"]')
login.click()

In [113]:
# item
item=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
item.send_keys('“sunglasses')

In [115]:
#search
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [126]:
#brand filter
brand=driver.find_elements(By.XPATH,'//div[@class="_4921Z t0pPfW"]')
for i in brand:
    if(i.text=='Fastrack'):
        i.click()
        break

In [127]:
#price filter
min=driver.find_elements(By.XPATH,'//option[@class="_3AsjWR"]')
for i in min:
    if(i.text=='₹800'):
        i.click()
        break

In [129]:
#to fetching the url
url=driver.find_elements(By.XPATH,'//a[@href="/fastrack-aviator-sunglasses/p/itm047bd71f167bb?pid=SGLFKYGHKP4BXEMH&lid=LSTSGLFKYGHKP4BXEMHPJOINL&marketplace=FLIPKART&q=%E2%80%9Csunglasses&store=search.flipkart.com%2F26x&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=c7b66851-5afa-4056-a716-77aac9d0d01e.SGLFKYGHKP4BXEMH.SEARCH&ppt=sp&ppn=sp&ssid=9db9ys3tj40000001660627666099&qH=a3f8a13cd401a391"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d6b278550fd6e96d99a51237dc9a175e", element="5cd75302-7023-4530-8eef-de2dfeb556f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6b278550fd6e96d99a51237dc9a175e", element="6aec7ecf-086c-4f81-9562-2d792ffb5554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6b278550fd6e96d99a51237dc9a175e", element="cf2da17a-7cae-439f-b7d7-149619188891")>]

In [130]:
#let provide range to print top 4 data
for i in  url[0:4]:
    print(i.get_attribute('href'))

https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm047bd71f167bb?pid=SGLFKYGHKP4BXEMH&lid=LSTSGLFKYGHKP4BXEMHPJOINL&marketplace=FLIPKART&q=%E2%80%9Csunglasses&store=search.flipkart.com%2F26x&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=c7b66851-5afa-4056-a716-77aac9d0d01e.SGLFKYGHKP4BXEMH.SEARCH&ppt=sp&ppn=sp&ssid=9db9ys3tj40000001660627666099&qH=a3f8a13cd401a391
https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm047bd71f167bb?pid=SGLFKYGHKP4BXEMH&lid=LSTSGLFKYGHKP4BXEMHPJOINL&marketplace=FLIPKART&q=%E2%80%9Csunglasses&store=search.flipkart.com%2F26x&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=c7b66851-5afa-4056-a716-77aac9d0d01e.SGLFKYGHKP4BXEMH.SEARCH&ppt=sp&ppn=sp&ssid=9db9ys3tj40000001660627666099&qH=a3f8a13cd401a391
https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm047bd71f167bb?pid=SGLFKYGHKP4BXEMH&lid=LSTSGLFKYGHKP4BXEMHPJOINL&marketplace=FLIPKART&q=%E2%80%9Csunglasses&store=search.flipkart.com%2F26x&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=c7b66851-5afa-4056-a716-77aac9d0d01e.SGLFKYGHKP4BXEMH.SEARCH&ppt=sp&ppn=sp&ssid=9db9ys3tj40000001660627666099&qH=a3f8a13cd401a391

In [132]:
sunglasses=[]

In [134]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="ge-49M _2Kfbh8"]')
    for i in titles:
        sunglasses.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

TypeError: 'list' object is not callable