# Write a python program to display all the header tags from wikipedia.org

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [3]:
soup=BeautifulSoup(page.content)

HEADING

In [4]:
H1=soup.find("div",id="mp-welcome")
H1.text

'Welcome to Wikipedia,'

SUB HEADING-->HEADER TAG

In [5]:
H2=soup.find("span",id="From_today's_featured_article")
H2.text

"From today's featured article"

In [6]:
H3=soup.find("span",id="In_the_news")
H3.text

'In the news'

In [7]:
H4=soup.find("h2",id="mp-dyk-h2")
H4.text

'Did you know\xa0...'

In [8]:
H5=soup.find("span",id="On_this_day")
H5.text

'On this day'

In [9]:
H6=soup.find("span",id="Today's_featured_picture")
H6.text

"Today's featured picture"

In [10]:
H7=soup.find("span",id="Other_areas_of_Wikipedia")
H7.text

'Other areas of Wikipedia'

In [11]:
H8=soup.find("span",id="Wikipedia's_sister_projects")
H8.text

"Wikipedia's sister projects"

In [12]:
H9=soup.find("span",id="Wikipedia_languages")
H9.text

'Wikipedia languages'

In [13]:
def Header():
    for tag in [H1.text,H2.text,H3.text,H4.text,H5.text,H6.text,H7.text,H8.text,H9.text]:
        print(tag)

In [14]:
Header()

Welcome to Wikipedia,
From today's featured article
In the news
Did you know ...
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages

# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [15]:
from bs4 import BeautifulSoup
import requests

In [16]:
page=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
page

In [17]:
soup=BeautifulSoup(page.content)

MOVIES NAME

In [18]:
name=soup.find("td",class_="titleColumn")
name.text

'\n      1.\n      The Shawshank Redemption\n(1994)\n'

YEAR OF RELEASE

In [19]:
year=soup.find("span",class_="secondaryInfo")
year.text

'(1994)'

RATING

In [20]:
rating=soup.find("td",class_="ratingColumn imdbRating")
rating.text

'\n9.2\n'

SCRAPING MULTIPLE MOVIE NAMES

In [21]:
names=[]

for i in soup.find_all("td",class_="titleColumn"):
    names.append(i.text)

SCRAPING MULTIPLE MOVIE YEAR REALEASE

In [22]:
year=[]

for i in soup.find_all("span",class_="secondaryInfo"):
    year.append(i.text)

SCRAPING MULTIPLE MOVIE RATING

In [23]:
rating=[]

for i in soup.find_all("td",class_="ratingColumn imdbRating"):
    rating.append(i.text)

In [24]:
#printing length
print(len(names),len(year),len(rating))

250 250 250

MAKING DATAFRAME

In [25]:
import pandas as pd
IMBD=pd.DataFrame({'MOVIE':names,'YEAR':year,'RATING':rating})

In [26]:
IMBD.head(100)

                                                MOVIE    YEAR   RATING
0   \n      1.\n      The Shawshank Redemption\n(1...  (1994)  \n9.2\n
1           \n      2.\n      The Godfather\n(1972)\n  (1972)  \n9.2\n
2         \n      3.\n      The Dark Knight\n(2008)\n  (2008)  \n9.0\n
3   \n      4.\n      The Godfather Part II\n(1974)\n  (1974)  \n9.0\n
4            \n      5.\n      12 Angry Men\n(1957)\n  (1957)  \n8.9\n
..                                                ...     ...      ...
95                \n      96.\n      Jagten\n(2012)\n  (2012)  \n8.3\n
96  \n      97.\n      M - Eine Stadt sucht einen ...  (1931)  \n8.3\n
97    \n      98.\n      North by Northwest\n(1959)\n  (1959)  \n8.3\n
98               \n      99.\n      Vertigo\n(1958)\n  (1958)  \n8.2\n
99         \n      100.\n      Idi i smotri\n(1985)\n  (1985)  \n8.2\n

[100 rows x 3 columns]

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame

In [27]:
from bs4 import BeautifulSoup
import requests

In [28]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [29]:
soup=BeautifulSoup(page.content)

Indian Movie Names

In [30]:
names=soup.find("td",class_="titleColumn")
names.text

'\n      1.\n      Rocketry: The Nambi Effect\n(2022)\n'

Year of release

In [31]:
year=soup.find("span",class_="secondaryInfo")
year.text

'(2022)'

Rating of movies

In [32]:
rating=soup.find("td",class_="ratingColumn imdbRating")
rating.text

'\n8.5\n'

Multiple movie list

In [33]:
Names=[]
for i in soup.find_all("td",class_="titleColumn"):
    Names.append(i.text)

Multiple movie release year

In [34]:
Year=[]
for i in soup.find_all("span",class_="secondaryInfo"):
    Year.append(i.text)

Multiple movie rating

In [35]:
Rating=[]
for i in soup.find_all("td",class_="ratingColumn imdbRating"):
    Rating.append(i.text)

In [36]:
#printing len 
print(len(Names),len(Year),len(Rating))

250 250 250

Frame into data frame

In [37]:
import pandas as pd
INDIANS=pd.DataFrame({"Movies_Name":Names,"Year":Year,"Rating":Rating})
INDIANS

                                           Movies_Name    Year   Rating
0    \n      1.\n      Rocketry: The Nambi Effect\n...  (2022)  \n8.5\n
1               \n      2.\n      Anbe Sivam\n(2003)\n  (2003)  \n8.4\n
2                  \n      3.\n      Golmaal\n(1979)\n  (1979)  \n8.4\n
3                 \n      4.\n      Jai Bhim\n(2021)\n  (2021)  \n8.4\n
4                  \n      5.\n      Nayakan\n(1987)\n  (1987)  \n8.4\n
..                                                 ...     ...      ...
245                   \n      246.\n      24\n(2016)\n  (2016)  \n7.6\n
246  \n      247.\n      Velaiilla Pattadhari\n(201...  (2014)  \n7.6\n
247        \n      248.\n      Kapoor & Sons\n(2016)\n  (2016)  \n7.6\n
248         \n      249.\n      Colour Photo\n(2020)\n  (2020)  \n7.6\n
249             \n      250.\n      Rockstar\n(2011)\n  (2011)  \n7.6\n

[250 rows x 3 columns]

In [38]:
A=INDIANS.head(100)
A

                                          Movies_Name    Year   Rating
0   \n      1.\n      Rocketry: The Nambi Effect\n...  (2022)  \n8.5\n
1              \n      2.\n      Anbe Sivam\n(2003)\n  (2003)  \n8.4\n
2                 \n      3.\n      Golmaal\n(1979)\n  (1979)  \n8.4\n
3                \n      4.\n      Jai Bhim\n(2021)\n  (2021)  \n8.4\n
4                 \n      5.\n      Nayakan\n(1987)\n  (1987)  \n8.4\n
..                                                ...     ...      ...
95       \n      96.\n      Rang De Basanti\n(2006)\n  (2006)  \n8.0\n
96                \n      97.\n      Baasha\n(1995)\n  (1995)  \n8.0\n
97  \n      98.\n      Baahubali 2: The Conclusion...  (2017)  \n8.0\n
98                \n      99.\n      Masaan\n(2015)\n  (2015)  \n8.0\n
99              \n      100.\n      Kahaani\n(2012)\n  (2012)  \n8.0\n

[100 rows x 3 columns]

# Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)

In [39]:
from bs4 import BeautifulSoup
import requests

In [40]:
page=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page

In [41]:
soup=BeautifulSoup(page.content)

President Names

In [42]:
Names=soup.find('div',class_="presidentListing")
Names.text

'\nShri Ram Nath Kovind (birth - 1945)\nTerm of Office: 25 July, 2017 to 25 July, 2022 \nhttps://ramnathkovind.nic.in\n'

In [43]:
President_Names=[]

for i in soup.find_all('div',class_="presidentListing"):
    President_Names.append(i.text)

In [44]:
President_Names

['\nShri Ram Nath Kovind (birth - 1945)\nTerm of Office: 25 July, 2017 to 25 July, 2022 \nhttps://ramnathkovind.nic.in\n',
 '\nShri Pranab Mukherjee (1935-2020)\nTerm of Office: 25 July, 2012 to 25 July, 2017 \nhttp://pranabmukherjee.nic.in\n',
 '\nSmt Pratibha Devisingh Patil (birth - 1934)\nTerm of Office: 25 July, 2007 to 25 July, 2012 \nhttp://pratibhapatil.nic.in\n',
 '\nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of Office: 25 July, 2002 to 25 July, 2007 \nhttp://abdulkalam.nic.in\n',
 '\nShri K. R. Narayanan (1920 - 2005)\nTerm of Office: 25 July, 1997 to 25 July, 2002 \n',
 '\nDr Shankar Dayal Sharma (1918-1999)\nTerm of Office: 25 July, 1992 to 25 July, 1997 \n',
 '\nShri R Venkataraman (1910-2009)\nTerm of Office: 25 July, 1987 to 25 July, 1992 \n',
 '\nGiani Zail Singh (1916-1994)\nTerm of Office: 25 July, 1982 to 25 July, 1987 \n',
 '\nShri Neelam Sanjiva Reddy (1913-1996)\nTerm of Office: 25 July, 1977 to 25 July, 1982 \n',
 '\nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm of Office: 24 August, 1974 to 11 February, 1977\n',
 '\nShri Varahagiri Venkata Giri (1894-1980)\nTerm of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974\n',
 '\nDr. Zakir Husain (1897-1969)\nTerm of Office: 13 May, 1967 to 3 May, 1969\n',
 '\nDr. Sarvepalli Radhakrishnan (1888-1975)\nTerm of Office: 13 May, 1962 to 13 May, 1967\n',
 '\nDr. Rajendra Prasad (1884-1963) \nTerm of Office: 26 January, 1950 to 13 May, 1962\n']

In [45]:
for i in President_Names:
    print(i)

Shri Ram Nath Kovind (birth - 1945)
Term of Office: 25 July, 2017 to 25 July, 2022
https://ramnathkovind.nic.in


Shri Pranab Mukherjee (1935-2020)
Term of Office: 25 July, 2012 to 25 July, 2017
http://pranabmukherjee.nic.in


Smt Pratibha Devisingh Patil (birth - 1934)
Term of Office: 25 July, 2007 to 25 July, 2012
http://pratibhapatil.nic.in


DR. A.P.J. Abdul Kalam (1931-2015)
Term of Office: 25 July, 2002 to 25 July, 2007
http://abdulkalam.nic.in


Shri K. R. Narayanan (1920 - 2005)
Term of Office: 25 July, 1997 to 25 July, 2002


Dr Shankar Dayal Sharma (1918-1999)
Term of Office: 25 July, 1992 to 25 July, 1997


Shri R Venkataraman (1910-2009)
Term of Office: 25 July, 1987 to 25 July, 1992


Giani Zail Singh (1916-1994)
Term of Office: 25 July, 1982 to 25 July, 1987


Shri Neelam Sanjiva Reddy (1913-1996)
Term of Office: 25 July, 1977 to 25 July, 1982


Dr. Fakhruddin Ali Ahmed (1905-1977)
Term of Office: 24 August, 1974 to 11 February, 1977


Shri Varahagiri Venkata Giri (1894-1980)
Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974


Dr. Zakir Husain (1897-1969)
Term of Office: 13 May, 1967 to 3 May, 1969


Dr. Sarvepalli Radhakrishnan (1888-1975)
Term of Office: 13 May, 1962 to 13 May, 1967


Dr. Rajendra Prasad (1884-1963)
Term of Office: 26 January, 1950 to 13 May, 1962

# Write a python program to scrape mentioned details from dineout.co.in

In [46]:
from bs4 import BeautifulSoup
import requests

In [47]:
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [48]:
soup=BeautifulSoup(page.content)

RESTAURENT NAME

In [49]:
res=soup.find("div",class_="restnt-info cursor")
res.text

'Castle BarbequeConnaught Place, Central Delhi'

CUSINE

In [50]:
cus=soup.find("div",class_="detail-info")
cus.text.split()[6:]

['North', 'Indian,', 'Chinese']

LOCATION

In [51]:
loc=soup.find("div",class_="restnt-loc ellipsis")
loc.text

'Connaught Place, Central Delhi'

IMAGE URL

In [52]:
img=soup.find("img",class_="no-img")
img

<img alt="Castle Barbeque" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium" data-url="/delhi/castle-barbeque-connaught-place-central-delhi-86792" data-w-onclick="cardClickHandler"/>

RATING

In [53]:
rate=soup.find("div",class_="restnt-rating rating-4")
rate.text

'4.1'

MULTIPLE RESTAURENT

In [54]:
res=[]

for i in soup.find_all("div",class_="restnt-info cursor"):
    res.append(i.text)

MULTIPLE RESTAURENT LOCATION

In [55]:
loc=[]

for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    loc.append(i.text)

MULTIPLE RESTAURENT CUSINE

In [56]:
cus=[]

for i in soup.find_all("div",class_="detail-info"):
    cus.append(i.text)

MULTIPLE RESTAURENT RATING

In [57]:
rate=[]

for i in soup.find_all("div",class_="restnt-rating rating-4"):
    rate.append(i.text)

IMAGE URL

In [58]:
img=[]

for i in soup.find_all("img",class_="no-img"):
    img.append(i["data-src"])

In [59]:
#printing len
print(len(res),len(rate),len(cus),len(img),len(loc))

9 9 9 9 9

In [60]:
import pandas as pd
df=pd.DataFrame({"RESTAURENT":res,"CUSINE":cus,"LOCATION":loc,"RATING":rate,"IMAGE_URL":img})
df

,RESTAURENT,CUSINE,LOCATION,RATING,IMAGE_URL
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | North Indian, Chinese","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","₹ 1,680 for 2 (approx) | North Indian, Asian, ...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","₹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,700 for 2 (approx) | North Indian, Chinese...","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","₹ 2,200 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# Write a python program to scrape the details of top publications from Google Scholar

In [61]:
page=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
page

In [62]:
soup=BeautifulSoup(page.content)

MULTIPLE RANK

In [63]:
rank=[]
for i in soup.find_all("td",class_="gsc_mvt_p"):
    rank.append(i.text)

MULTIPLE PUBLICATION

In [64]:
pub=[]
for i in soup.find_all("td",class_="gsc_mvt_t"):
    pub.append(i.text)

MULTIPLE H5-INDEX

In [65]:
h5=[]
for i in soup.find_all("a",class_="gs_ibl gsc_mp_anchor"):
    h5.append(i.text)

MULTIPLE H5-MEDIAN

In [66]:
h5m=[]
for i in soup.find_all("span",class_="gs_ibl gsc_mp_anchor"):
    h5m.append(i.text)

In [67]:
#printing len
print(len(rank),len(pub),len(h5),len(h5m))

100 100 100 100

FRAME INTO DATAFRAME

In [68]:
import pandas as pd
df=pd.DataFrame({"RANK":rank,"PBLICATION   ":pub,"H5_INDEX":h5,  "HS-MEDIAN":h5m})
df.set_index('RANK')

                                          PBLICATION    H5_INDEX HS-MEDIAN
RANK
1.                                               Nature      444       667
2.                  The New England Journal of Medicine      432       780
3.                                              Science      401       614
4.    IEEE/CVF Conference on Computer Vision and Pat...      389       627
5.                                           The Lancet      354       635
...                                                 ...      ...       ...
96.                        Journal of Business Research      145       233
97.                                    Molecular Cancer      145       209
98.                                             Sensors      145       201
99.                               Nature Climate Change      144       228
100.                    IEEE Internet of Things Journal      144       212

[100 rows x 3 columns]

# Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [69]:
page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page

In [70]:
soup=BeautifulSoup(page.content)

MULTIPLE TITLE

In [71]:
page=[]
for i in soup.find_all("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    page.append(i.text)

MULTILE TITLE AUTHOR

In [72]:
aut=[]
for i in soup.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    aut.append(i.text)

MULTIPLE TITLE PUBLISED DATE

In [73]:
date=[]
for i in soup.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)

In [74]:
import pandas as pd
df=pd.DataFrame({"TITLE":page,"AUTHOR":aut,"DATE":date})     #i don"t find url links of books
df

,TITLE,AUTHOR,DATE
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010

# Write a python program to scrape cricket rankings from icc-cricket.com.

In [75]:
import pandas as pd
url=("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
df=pd.read_html(url)
df

[    Pos           Team  T  Matches  M  Points  P  Rating  R
 0     1    Australia  AUS          29       4837        167
 1     2      England  ENG          33       4046        123
 2     3  South Africa  SA          35       4157        119
 3     4        India  IND          32       3219        101
 4     5   New Zealand  NZ          31       3019         97
 5     6   West Indies  WI          30       2768         92
 6     7   Bangladesh  BAN          12        930         78
 7     8     Pakistan  PAK          30       1962         65
 8     9     Sri Lanka  SL          11        495         45
 9    10      Ireland  IRE           8        351         44
 10   11     Zimbabwe  ZIM           8          0          0]

In [76]:
df=df[0]
df.to_html('ICC.html')
df

    Pos           Team  T  Matches  M  Points  P  Rating  R
0     1    Australia  AUS          29       4837        167
1     2      England  ENG          33       4046        123
2     3  South Africa  SA          35       4157        119
3     4        India  IND          32       3219        101
4     5   New Zealand  NZ          31       3019         97
5     6   West Indies  WI          30       2768         92
6     7   Bangladesh  BAN          12        930         78
7     8     Pakistan  PAK          30       1962         65
8     9     Sri Lanka  SL          11        495         45
9    10      Ireland  IRE           8        351         44
10   11     Zimbabwe  ZIM           8          0          0

In [77]:
ds=pd.DataFrame(df)
team=ds.set_index('Pos')
TEAM=team.head(10)

In [78]:
TEAM

              Team  T  Matches  M  Points  P  Rating  R
Pos
1      Australia  AUS          29       4837        167
2        England  ENG          33       4046        123
3    South Africa  SA          35       4157        119
4          India  IND          32       3219        101
5     New Zealand  NZ          31       3019         97
6     West Indies  WI          30       2768         92
7     Bangladesh  BAN          12        930         78
8       Pakistan  PAK          30       1962         65
9       Sri Lanka  SL          11        495         45
10       Ireland  IRE           8        351         44

Top 10 women’s ODI Batting players along with the records of their team and rating.

In [79]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [80]:
import pandas as pd
df=pd.read_html("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
df=df[0]

In [81]:
df

,Pos,Player,Team,Rating
0,2 (1) This player has moved up in the rankin...,Beth Mooney,AUS,749
1,3 (1) This player has moved down in the rank...,Natalie Sciver,ENG,747
2,4 (0),Laura Wolvaardt,SA,732
3,5 (0),Meg Lanning,AUS,710
4,6 (0),Rachael Haynes,AUS,701
5,7 (0),Amy Satterthwaite,NZ,681
6,8 (2) This player has moved up in the rankin...,Tammy Beaumont,ENG,667
7,9 (1) This player has moved down in the rank...,Chamari Athapaththu,SL,655
8,10 (1) This player has moved down in the ran...,Smriti Mandhana,IND,649

In [82]:
ds=pd.DataFrame(df)
PLAYER=ds.set_index('Player')

In [83]:
PLAYER.drop('Pos',axis=1)

                    Team  Rating
Player
Beth Mooney          AUS     749
Natalie Sciver       ENG     747
Laura Wolvaardt       SA     732
Meg Lanning          AUS     710
Rachael Haynes       AUS     701
Amy Satterthwaite     NZ     681
Tammy Beaumont       ENG     667
Chamari Athapaththu   SL     655
Smriti Mandhana      IND     649

Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [84]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
import pandas as pd
df=pd.read_html(url)
df=df[0]
ds=pd.DataFrame(df)
ds.head(10)
ds.drop("Pos",axis=1)

                  Player Team  Rating              Career Best Rating
0         Natalie Sciver  ENG     379  395 v South Africa, 11/07/2022
1           Ellyse Perry  AUS     374   548 v West Indies, 11/09/2019
2         Marizanne Kapp   SA     349   419 v West Indies, 10/09/2021
3        Hayley Matthews   WI     339         365 v India, 12/03/2022
4            Amelia Kerr   NZ     336  339 v South Africa, 17/03/2022
5       Ashleigh Gardner  AUS     270   279 v West Indies, 30/03/2022
6          Deepti Sharma  IND     252  397 v South Africa, 09/10/2019
7          Jess Jonassen  AUS     246   308 v West Indies, 11/09/2019
8        Katherine Brunt  ENG     220     296 v Australia, 03/02/2022
9        Stafanie Taylor   WI     207   559 v New Zealand, 10/10/2013
10        Jhulan Goswami  IND     205     308 v Australia, 02/02/2016
11     Sophie Ecclestone  ENG     202  217 v South Africa, 31/03/2022
12         Sophie Devine   NZ     202     305 v Australia, 05/10/2020
13          Rumana Ahmed  BAN     201  198 v South Africa, 05/03/2022
14              Nida Dar  PAK     200     206 v Sri Lanka, 03/06/2022
15  Chloe-Lesleigh Tryon   SA     197       197 v England, 18/07/2022
16          Salma Khatun  BAN     178     170 v Australia, 25/03/2022
17   Chamari Athapaththu   SL     178  187 v South Africa, 17/02/2019
18             Sune Luus   SA     171       223 v Ireland, 17/06/2022
19      Harmanpreet Kaur  IND     158  174 v South Africa, 14/03/2021

# Write a python program to scrape cricket rankings from icc-cricket.com

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [85]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
import pandas as pd
df=pd.read_html(url)
df=df[0]
ds=pd.DataFrame(df)
TEAM=ds.head(10)
TEAM.set_index('Pos')

              Team  T  Matches  M  Points  P  Rating  R
Pos
1     New Zealand  NZ          16       2051        128
2        England  ENG          27       3226        119
3          India  IND          28       3085        110
4       Pakistan  PAK          19       2005        106
5      Australia  AUS          23       2325        101
6    South Africa  SA          21       2111        101
7     Bangladesh  BAN          27       2639         98
8       Sri Lanka  SL          29       2658         92
9     West Indies  WI          38       2621         69
10   Afghanistan  AFG          18       1238         69

Top 10 ODI Batsmen along with the records of their team and rating

In [86]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
import pandas as pd
df=pd.read_html(url)
df=df[0]
ds=pd.DataFrame(df)
TEAM=ds.head(10)
team=TEAM.drop(['Pos','Career Best Rating'],axis=1)
team.set_index('Player')

                      Team  Rating
Player
Babar Azam             PAK     892
Imam-ul-Haq            PAK     815
Rassie van der Dussen   SA     789
Quinton de Kock         SA     784
Virat Kohli            IND     774
Rohit Sharma           IND     770
Ross Taylor             NZ     752
David Warner           AUS     737
Jonny Bairstow         ENG     732
Aaron Finch            AUS     715

Top 10 ODI bowlers along with the records of their team and rating

In [87]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
import pandas as pd
df=pd.read_html(url)
df=df[0]
ds=pd.DataFrame(df)
TEAM=ds.head(10)
team=TEAM.drop(['Pos','Career Best Rating'],axis=1)
team.set_index('Player')

                 Team  Rating
Player
Trent Boult        NZ     704
Jasprit Bumrah    IND     689
Shaheen Afridi    PAK     681
Josh Hazlewood    AUS     679
Mujeeb Ur Rahman  AFG     676
Mehedi Hasan      BAN     672
Matt Henry         NZ     670
Mohammad Nabi     AFG     657
Rashid Khan       AFG     651
Chris Woakes      ENG     640

# FINISHED